In [1]:
2+3

5

In [ ]:
###How to assign value to python
In python it will automatically detect the data type there is no need of assigning data type

In [2]:
var =10
name ="amit"
height = " 5.891"

In [3]:
a=10
b=10
c=10

In [4]:
a=b=c=10

In [5]:
x,y,z=10,20,30

In [7]:
print a,z

10 30

In [ ]:
##Python_Tokens(Identifier,Keywords,Literals,Operators)
In python Identifier always start with underscore(_)

In [8]:
#Python is case sensitive
a=10
A=20
print a
print A

10
20

In [9]:
key=12

# Identifier
##12key=10 inavalid syntax
_12key=10

# Literals
1.String Literals
2.Numeric Literals
3.Boolean Literals
4.Special Literals

In [22]:
#String Literlas
name1="John"
name2='Rohit'
print name1
print name2
print name1+name2
print name1+" "+name2

John
Rohit
JohnRohit
John Rohit

In [16]:
text = 'hello \world'

In [23]:
multiline = '''First Line
Second Line
Third Line
Fourth Line'''
print multiline

First Line
Second Line
Third Line
Fourth Line

In [ ]:
##Numeric Literals
Int,Long,Float,Complex
#Boolean Literals
True,False
This is also a keywords
#Special Literals
None
It specify that fileld is not created

In [ ]:
##Operators 
Arithmetic Operator
Assigment  Operator
Comparision Operator
Logical Operator
Membership Operator
2-3
2+3
2/3
2%3

In [26]:
a+=10 #a=a+10
print a

40

In [31]:
a-=10
print a
11>10
10<5

-10

False

In [33]:
11!=10

True

In [35]:
a=7>6 and 2>1
print a

True

In [37]:
a= 7>6 or 2>1
print a

True

In [38]:
a= not 7>8
print a

True

In [39]:
7|5

7

In [40]:
7&5

5

In [41]:
10>>2

2

In [42]:
10<<2

40

In [43]:
#Identity Operator
x=5
x is 5

True

In [44]:
x is not 5

False

In [45]:
pets = ['Dog','Cat','Fox']

In [47]:
'Fox' in pets

True

In [48]:
'Billi' in pets

False

# Check Data Type

In [51]:
a =10
b =20.5
c ="Ten"
print type(a)
print type(b)
print type(c)

<type 'int'>
<type 'float'>
<type 'str'>

In [ ]:
#String
Anything is return in double quote or single quote is known as string

In [55]:
string1 = "Welcome To Enixta"
string2 = 'Python'
print string1[0]
print string1[7:13]

W
 To En

In [ ]:
print("Enter Your Name:")
Name = input()
print("Your Name is:", Name)

Enter Your Name:

In [1]:
str1 ="FindMe"
str1.find("Me")

4

In [2]:
str1 = "Python Code"
str1.replace("Code","Coding")

'Python Coding'

In [5]:
string3 = "word1,word2,word3"
string3.split(",")

['word1', 'word2', 'word3']

In [7]:
str1 = "Python Code"
str1.count("o")

2

In [14]:
mygroup = ('a','b','c','d')
mygroup+= ('e',)
print mygroup

('a', 'b', 'c', 'd', 'e')

In [17]:
mylist = ['a',1,2,'c','Python']
mylist+=['Coding',]
print mylist

['a', 1, 2, 'c', 'Python', 'Coding']

In [ ]:
#Appending the list means length of list will increase by 1 or to add new elements

In [18]:
mylist.append('Programming')
print mylist

['a', 1, 2, 'c', 'Python', 'Coding', 'Programming']

In [ ]:
#Extending is used to merge to list

In [20]:
mylist.extend(['C','D','E'])
print mylist

['a', 1, 2, 'c', 'Python', 'Coding', 'Programming', 'C', 'D', 'E']

In [23]:
mylist.insert(3,'Program')
print mylist

['a', 1, 'Program', 'Program', 'Program', 2, 'c', 'Python', 'Coding', 'Programming', 'C', 'D', 'E']

In [27]:
mydict = {1:'Amit',2:'Nitish',3:'Rahul'}
print mydict

{1: 'Amit', 2: 'Nitish', 3: 'Rahul'}

In [28]:
mydict[2]

'Nitish'

In [29]:
len(mydict)

3

In [30]:
mydict.keys()

[1, 2, 3]

In [32]:
mydict.update({0:'Vikas'})
print mydict

{0: 'Vikas', 1: 'Amit', 2: 'Nitish', 3: 'Rahul'}

In [38]:
#set
myset1={1,2,3,4,5}
myset2={5,6,7,8}
#union
myset1|myset2

{1, 2, 3, 4, 5, 6, 7, 8}

In [39]:
#intersection
myset1 & myset2

{5}

In [40]:
myset1-myset2

{1, 2, 3, 4}

In [ ]:
###Flow Control

In [43]:
print("Enter the first number:")
num1=input()
print("Enter the second number:")
num2=input()
if(num1>num2):
    print("%s is greater than %s"%(num1,num2))
else:
        print("%s is greater than %s"%(num2,num1))

Enter the first number:
10
Enter the second number:
20
20 is greater than 10

In [45]:
mylist = ['Apple','Mangoes','Banana']
for x in mylist:
    print x

Apple
Mangoes
Banana

In [47]:
for x in range(1,10):
    print x

1
2
3
4
5
6
7
8
9

In [48]:
for x in range(2,20,2):
    print x

2
4
6
8
10
12
14
16
18

In [52]:
for x in range(2,20,3):
    print x

2
5
8
11
14
17

In [2]:
i=0
while i<=10:
    print i
    i+=1

0
1
2
3
4
5
6
7
8
9
10

In [3]:
#User Define Function
def myfunction():
    print("my first function")

In [13]:
#Creating Function
def add(num1,num2):
    sum= num1+num2
    print("sum of %s and %s is % i"%(num1,num2,sum))

In [15]:
#Calling Function
add(10,20)
myfunction()

sum of 10 and 20 is  30
my first function

In [18]:
def function(num1,num2):
    return num1+num2

In [19]:
function(12,12)

24

In [ ]:
##Predefined Function

In [21]:
round(3.14)

3.14

In [22]:
abs(3.14)

3.14

In [ ]:
#There is 2 way to calling function

In [25]:
def function(b):
    print("the value of b is:",b)
    b=100
    print("the updated value of b is:",b)

In [27]:
function(10)

('the value of b is:', 10)
('the updated value of b is:', 100)

In [ ]:
#pass by refernce

In [28]:
def function11(b):
    print("the value of b is:",b)
    b[0]=100
    b[1]=200
    print("the updated value of b is:",b)

In [30]:
function11([12,13,14])

('the value of b is:', [12, 13, 14])
('the updated value of b is:', [100, 200, 14])